<div class="container">
    <div class="row">
        {{#each products}}
        <div class="card col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 position-static rounded-0 " id="prod-view" >
            <img style="height: 70%; width:100%; margin-top: 15px;" src="/images/products/{{this._id}}.jpeg"
                class="card-img-top rounded-0" alt="{{this.title}} - Toon">
            <a href="/product/{{this._id}}">
                <div class="card-body" style="height:40%; width: 100%;">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p id="{{this._id}}" class="card-text">{{this.description}}</p>
                    {{#if oldPrice}}
                    <p class="card-text" style="display:flex;"><span
                            style="text-decoration: line-through; color: red;">₹{{this.oldPrice}}</span>&nbsp;<span
                            style="color: green;">₹{{this.price}}</span></p>
                    {{else}}
                    <p class="card-text"><span style="color: green;">₹{{this.price}}</span></p>
                    {{/if}}
                    <span></span>
                    <div class="buttons">
                        <a href="/remove/{{this._id}}" class="card-link">
                            <button class="p-btn purple">REMOVE</button>
                        </a>
                        <a href="/edit/{{this._id}}" class="card-link">
                            <button class="h-btn">
                                <box-icon name='edit-alt' type='solid' color='#eeaa01' ></box-icon>
                            </button>
                        </a>
                    </div>
                </div>
            </a>
        </div>
        {{/each}}
    </div>
</div>